.reports-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 20px;
  max-width: 930px;
  max-height: 280px;
  margin: auto;
}




@media screen and (max-width: 850px) {
  .reports-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 280px;
  }

}
