.navbar {
  display: flex;
  justify-content: space-between;
}

.home_link {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-size: larger;
  vertical-align: middle;
}

.toolbar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.user_avatar {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font: 16px / 40px Helvetica, Arial, sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  background-color: rgb(33, 150, 243);
  color: white;
  cursor: pointer;
}
.cont {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.hidden {
    display: none;
}

.search-input input {
  padding: 0 10px;
  width: 96%;
  border-radius: 5px;
  height: 40px;
  background-color: rgb(162, 181, 232);
  border: none;
}
.search-input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
}
.search-btn {
  position: relative;
  top: -33px;
  right: -160px;
  background-color: inherit;
  border: none;
}

.search-input input:focus {
  background-color: white;
  outline: none;
}

.search-wrap {
  position: absolute;
  width: 350px;
  max-width: 350px;
  top: 12px;
  left: 50%;
  margin-left: -200px !important;
}

@media screen and (max-width: 850px) {
  .home_link {
    display: none;
  }
  .help_icon {
    display: none;
  }
  .search-wrap {
    position: absolute;
    width: 150px;
    max-width: 150px;
    margin-left: -85px !important;
  }
  .search_input {
    margin-left: 10%;
  }
  .search-btn {
    display: none;
  }
}
