.modal {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
    font-family: Roboto,sans-serif!important;
    background-color:rgba(0,0,0,0.4);
    z-index: 2; 
  }

.candidate-form-main {
    height: 100vh;
    box-shadow: inset;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.candidate-form-container{
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
        width: 550px;
        margin:80px 20px 20px 20px;
        min-width: 300px;
    }

.candidate-form-title{
      display:flex;
      justify-content:space-between;
      margin:5px 30px 0px 30px;
      font-size: 20px;
      font-weight: 500;
  }  

.input {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items:center
  }

.candidate-error {
    display: flex;
    margin-top: -10px;
    margin-left: 30px;
    color: red;
    font-size: 12px;
  }   

.candidate-button{
    display:flex;
    justify-content:right ;
    margin: 0px 20px 20px 0px;
  }

.btn-close {
    border:none;
    background-color:white;
  }         



  @media only screen and (max-width: 850px){
    .candidate-form-container{
      width: 370px;
    }
  }

