.skills-container {
  border: 1px solid#E0E0E0;
  border-radius: 5px;
  
  
  
}

.skills-title {
  width: 100%;
  background-color: #E8E8E8;
  text-align: left;
  padding: 10px 0px;
  font-size: large;
  font-weight: bolder;
}

.skills-title span {
  margin-left: 10px;
}





.sk-List {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items:center

}

.footer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  
}



.skill {
  border-radius:10px;
  display:inline-block;
  height: 10px;
  background-color:#9fda82;
  padding:15px;
  align-items:center
}

.close-btn {
  border-radius:50%;
  border:none;
  position:relative;
  right:10px;
  bottom:20px;
  border:1px solid grey;
}