  :root {
    margin-right: 5px;
    margin-top: 10px;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 40px;
    position: relative;
  }


